{% extends "base.html" %}

{% block content %}
    	<label for="author_id">author_id</label><br/><input type="text" name="author_id"/><br/>
    	<label for="title">title</label><br/><input type="text" name="title"/><br/>
		<label for="description">description</label><br/><input type="text" name="description"/><br/>
		<div id="array">
			<label for="recipes">recipes</label><br/><input type="text" name="recipes"/><br/>
			<label for="recipes">recipes</label><br/><input type="text" name="recipes"/><br/>
			<label for="recipes">recipes</label><br/><input type="text" name="recipes"/><br/>
			<label for="recipes">recipes</label><br/><input type="text" name="recipes"/><br/>
		</div>
		<input type="submit">
{% endblock content %}